@page "/Index"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using TaskManager.Client.Components.Templates;
@using TaskManager.Client.Components.Pages;
@* @attribute [Authorize] *@
@rendermode InteractiveServer


@* <PageTitle>Index</PageTitle>
<TableTask></TableTask> *@


<TabCustomPanel Tabs="@tabs">
    <TabCustomPanel.Tab Title="Pestaña 1">
       @*  <h2>Contenido de la Pestaña 1</h2>
        <p>Aquí va el contenido de la primera pestaña.</p> *@
    </TabCustomPanel.Tab>
    <TabCustomPanel.Tab Title="Pestaña 2">
     @*    <h2>Contenido de la Pestaña 2</h2>
        <p>Aquí va el contenido de la segunda pestaña.</p> *@
    </TabCustomPanel.Tab>
    <TabCustomPanel.Tab Title="Pestaña 3">
      @*   <h2>Contenido de la Pestaña 3</h2>
        <p>Aquí va el contenido de la tercera pestaña.</p> *@
    </TabCustomPanel.Tab>
  @*   <div>
        Este es el contenido secundario.
    </div> *@
</TabCustomPanel>

@code {
    List<TabCustomPanel.Tab> tabs = new List<TabCustomPanel.Tab>
    {
        new TabCustomPanel.Tab { Title = "Tareas pendientes", Content = @<TableTask Estado="Pendiente"></TableTask> },
        new TabCustomPanel.Tab { Title = "Tareas en proceso", Content = @<TableTask Estado="EN PROCESO"></TableTask> },
        new TabCustomPanel.Tab { Title = "Tareas finalizadas", Content = @<TableTask Estado="FINALIZADAS"></TableTask> }
    };
}


